<div class="w-100 vh-100 bg-dark">
    <mat-tab-group mat-align-tabs="center" class="py-md-5">
        <mat-tab label="Full Counter" class="text-light">
            <ng-container>
                <div class="px-5 pt-md-3 mt-3">
                    <h2 class="h2 text-light">Full Counter</h2>
                    <p class="lead text-light"> Meliodas pode devolver o ataque mágico lançado com o poder em dobro, não funciona em ataques indiretos e socos comuns. A desvantagem é que só pode refletir um ataque por vez</p>
                </div>
            </ng-container>
        </mat-tab>
        <mat-tab label="Revenge Counter">
            <ng-container>
                <div class="px-5 pt-md-3 mt-3">
                    <h2 class="h2 text-light">Revenge Counter</h2>
                    <p class="lead text-light"> Meliodas absorve o dano recebido e, em seguida, o lança de volta com todo poder acumulado e ainda mais forte. Esta técnica é muito perigosa, pois Meliodas é obrigada a tomar uma grande quantidade de danos.</p>
                </div>
            </ng-container>
        </mat-tab>
        <mat-tab label="Black Matter ">
            <ng-container>
                <div class="px-5 pt-md-3 mt-3">
                    <h2 class="h2 text-light">Black Matter</h2>
                    <p class="lead text-light">Meliodas é um demônio, e pode acessar sua herança demoníaca para se dar um grande impulso na capacidade física, bem como outras habilidades. Ao usá-lo, ele é totalmente consumido por uma matéria negra e pode perder a capacidade raciocínio.</p>
                </div>
            </ng-container>
        </mat-tab>
    </mat-tab-group>

    <span class="text-light lead px-3 mt-4">Veja a história de meliodas <a [routerLink]="['']" class="text-success">aqui</a></span>
</div>