<div class="w-100 vh-100 bg-dark">
    <h2 class="text-center display-4 text-light py-5">Historia</h2>
    <p class="lead text-light px-3">O capitão dos Sete Pecados Capitais. O pecado capital da Ira do Dragão, e o pecado mais forte. Ele foi inspirado no Rei Meliodas na lendas Arturianas que foi famoso por ser o dono do bar Chapéu de Javali, conhecido por sua excelente bebida e horrível
        comida (cozida por Meliodas no começo e posteriormente por Ban).</p>
    <p class="lead text-light px-3">Apesar de parecer uma criança, ele é extremamente poderoso e muito mais velho do que parece já que ele tem mais de 3000 anos. Mesmo sendo conhecido como pecado da Ira, ele raramente fica bravo e é muito brincalhão, pervertido, confiante e gentil com
        aqueles com que se importa.</p>

    <span class="text-light lead px-3 mt-4">Veja as habilidades <a [routerLink]="['signup']" class="text-success">aqui</a></span>
</div>